html {
  scroll-behavior: smooth;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-size: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 75px;
}
  

  


.section {
  background-color: #f1f1f1f6;
  background-image: url(brown-pine-cone-decors-639123.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 1000px;
  text-align: left;
  font-size: 30px;
  color: black;
}

h2 {

  padding-top: 100px;
}



ol {
  font-size: 25px;
  
  padding-bottom: 300px;
}

p {
  font-size: 18px;

}



.section a {
  color: black;

}

li {
  padding: 25px;

}



